<ol class="breadcrumb">
    <li><a href="#/list">Categories</a></li>
    <li ng-hide="category.id" class="active">Create category</li>
    <li ng-show="category.id" class="active">Edit category '{{category.name}}'</li>
</ol>

<q-image-browser target="categoryToSelectImage" images="images"></q-image-browser>

<form class="category-form-section" name="form" novalidate>
    <div class="panel-group">
        <button ng-click="save()" class="btn btn-success" ng-disabled="form.$invalid">Save</button>
        <button class="btn btn-default" ng-click="categoryToSelectImage = category">Choose image</button>
    </div>

    <div class="image-section">
        <q-empty object="category.image" parent="category">Category doesn't have image.</q-empty>
        <div class="frame" ng-show="category.image">
            <img src="{{config.environment.imagesPath}}/{{category.image.fileName}}">
        </div>
    </div>
    <div class="details-section">
        <div class="form-group">
            <label for="name">
                <span class="required">* </span>
                Name:
            </label>
            <input type="text" ng-model="category.name" name="name"
                   class="form-control" id="name" required>
        </div>
        <div ng-show="form.name.$dirty && form.name.$invalid">
            <div class="alert alert-danger" ng-show="form.name.$error.required">
                Name is required.
            </div>
        </div>
        <div class="form-group">
            <label for="description">
                <span class="required">* </span>
                Description:
            </label>
            <input type="text" ng-model="category.description"
                   class="form-control" id="description" name="description" required>
        </div>
        <div ng-show="form.description.$dirty && form.description.$invalid">
            <div class="alert alert-danger" ng-show="form.description.$error.required">
                Description is required.
            </div>
        </div>
        <div class="form-group">
            <label for="description">Tags: </label>
            <q-chosen-tags-browser target="category"></q-chosen-tags-browser>
        </div>
        <div class="form-group">
            <label for="description">Available tags: </label>
            <q-tags-browser target="category"></q-tags-browser>
        </div>
    </div>
</form>