<div class="login-container">

    <form class="form-signin" role="form">
        <h2 class="form-signin-heading">Please sign in</h2>
        <input type="text" class="form-control" placeholder="Username"
               required autofocus ng-model="loginForm.username" name="username">
        <input type="password" class="form-control" placeholder="Password"
               required ng-model="loginForm.password" name="password">
        <div class="alert alert-danger" ng-show="loginError">
            Username or password is wrong. Ary again.
        </div>
        <!--<label class="checkbox">-->
            <!--<input type="checkbox" value="remember-me"> Remember me-->
        <!--</label>-->
        <button class="btn btn-primary btn-block" type="submit" ng-click="login()">Sign in</button>
    </form>

</div>