<div class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" ng-bind="title"></h4>
            </div>
            <div class="modal-body" ng-transclude>

            </div>
            <div class="modal-footer">
                <button ng-show="okShow || okShow==undefined" type="button" class="btn btn-default" data-dismiss="modal" ng-click="okClick()" ng-bind="okLabel || 'OK'"></button>
                <button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="cancelClick()" ng-bind="cancelLabel || 'Cancel'"></button>
            </div>
        </div>
    </div>
</div>