/*   Commons   */
span.required {
    color: red;
}
.frame{
    border: 1px solid #adadad;
    border-radius: 5px;
    padding: 5px;
}




.main-content {
    padding-top: 20px;
    width: 1000px;
    margin: auto;
}

.labels .label-container {
    float: left;
    width: 200px;
    height: 300px;
    padding: 5px;
}

.labels .label-item {
    border: 1px solid;
    border-radius: 5px;
    height: 100%;
    padding: 10px;
}

.labels .label-category {
    border-color: #adadad;
}

.labels .label-test {
    border-color: rgba(244, 248, 118, 0.59);
}

.label-item .icon {
    background: #428bca;
    height: 130px
}

.tags:after {
    content: " ";
}

.tag {
    /*float: left;*/
    color: #ffffff;
    padding: 3px 8px;
    margin: 3px;
    border-radius: 5px;
    display: inline-block;
    cursor: pointer;
}

/*  Test create/update  */
.test-section {
    position: relative;
}

.test-section .test-form-section {
    position: absolute;
    width: 580px;
}

.test-section .image-browse-section {
    position: absolute;
    width: 400px;
    right: 0;
}
.image-browse-section .image-container{
    width: 100px;
    height: 100px;
    padding: 5px;
    float: left;
}
.image-browse-section .image{
    border: 1px solid #adadad;
    border-radius: 5px;
    height: 100%;
    padding: 5px;
}
.image-browse-section .image:hover{
    border-color: #428bca;
}

.image-browse-section img{
    max-width: 100%;
    max-height: 100%;
    display: block;
    margin: auto;
}

.task-form-section{
    margin-right: 200px;
}
.task-image-section{
    width: 180px;
    float: right;
    margin-top: 20px;
}
.task-image-section img{
    width: 100%;
}

/*   Adminka   */
.adminka-menu{
    width: 250px;
    float: left;
}
.adminka-content{
    margin-left: 270px;
}
.images-manage .image{
    width: 300px;
    /*float: left;*/
    padding: 5px;
    float: right;
}
/*.images-manage .image:after{*/
    /*content: ;*/
/*}*/
.images-manage .image img{
    width: 100%;
}
.images-manage .image-details{
    margin-right: 320px;
}
.image-item:after{
    content: ' ';
    display: block;
    clear: both;
}


/*   Global messages   */
.global-messages{
    position: absolute;
    width: 400px;
    margin-left: -200px;
    left: 50%;
    z-index: 1000;
}








