<ol class="breadcrumb">
    <li><a href="#/adminka">Adminka</a></li>
    <li class="active">Images</li>
</ol>

<div class="adminka-menu" adminka-menu current-item-key="images"></div>
<div class="adminka-content">
    <div class="panel-group">
        <button class="btn btn-primary" ng-click="addImage()">Add Image</button>
    </div>

    <!--<div class="progress progress-striped active" ng-show="!images.$resolved">-->
        <!--<div class="progress-bar" role="progressbar" aria-valuenow="45"-->
             <!--aria-valuemin="0" aria-valuemax="100" style="width: 100%">-->
            <!--<span>Loading...</span>-->
        <!--</div>-->
    <!--</div>-->
    <div loading object="images"></div>

    <!--<div class="alert alert-info" ng-show="!images.length && image.$resolved">-->
        <!--There isn't images.-->
    <!--</div>-->
    <div empty object="images" message="There isn't images."></div>

    <div class="list-group images-manage">
        <form name="form" novalidate>

            <div class="list-group-item image-item" ng-repeat="image in images" ng-form="imageForm">
                <div ng-show="image.fileName" class="image frame">
                    <img src="{{config.environment.imagesPath}}/{{image.fileName}}">
                </div>
                <div class="image-details">
                    <fieldset ng-disabled="!image.edit">
                        <div class="form-group">
                            <label for="name_{{$index}}">
                                <span class="required">* </span>
                                Name:
                            </label>
                            <input id="name_{{$index}}" ng-model="image.name" class="form-control" name="name" required>
                        </div>
                        <div ng-show="imageForm.name.$dirty && imageForm.name.$invalid">
                            <div class="alert alert-danger" ng-show="imageForm.name.$error.required">
                                Name is required.
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="description_{{$index}}">
                                <span class="required">* </span>
                                Desciption:
                            </label>
                            <input id="description_{{$index}}" ng-model="image.description" class="form-control"
                                   name="description" required>
                        </div>
                        <div ng-show="imageForm.description.$dirty && imageForm.description.$invalid">
                            <div class="alert alert-danger" ng-show="imageForm.description.$error.required">
                                Description is required.
                            </div>
                        </div>
                        <div class="form-group" ng-show="image.edit">
                            <label for="file">
                                <span class="required">* </span>
                                File:
                            </label>
                            <input id="file" type="file" ng-model="image.file" class="form-control" name="file"
                                   valid-file ng-file-select="fileSelect(image, $files)" required>
                        </div>
                    </fieldset>
                    <div class="form-group">
                        <button class="btn btn-danger" ng-click="remove(image)" ng-show="!image.edit">Remove</button>
                        <button class="btn btn-success" ng-click="save(image)" ng-disabled="imageForm.$invalid"
                                ng-show="image.edit">Save
                        </button>
                        <button class="btn btn-primary" ng-click="edit(image)" ng-show="!image.edit">Edit</button>
                        <button class="btn btn-primary" ng-click="cancel(image)" ng-show="image.edit">Cancel</button>
                        <label ng-show="saving">Saving...</label>
                        <label ng-show="deleting">Deleting...</label>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div class="panel-group">
        <button class="btn btn-primary" ng-click="addImage()">Add Image</button>
    </div>
</div>