<ol class="breadcrumb">
    <li><a href="#/adminka">Adminka</a></li>
    <li class="active">Tags</li>
</ol>

<div class="adminka-menu" adminka-menu current-item-key="tags"></div>
<div class="adminka-content">
    <div class="tags-section">
        <div class="panel-group">
            <button class="btn btn-success" ng-click="addTag()">Add tag</button>
        </div>
        <table class="table table-hover">
            <thead>
            <tr>
                <th>#</th>
                <th>Name</th>
                <th>Color</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="tag in tags">
                <td>{{tag.id}}</td>
                <td>{{tag.name}}</td>
                <td>
                    <div class="tag-color" style="background: #{{tag.color}};"></div>
                </td>
                <td>
                    <div class="btn-group btn-group-sm">
                        <button class="btn btn-default" ng-click="editTag(tag)">Edit</button>
                        <button class="btn btn-default" ng-click="removeTag(tag)">Remove</button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
        <q-loading object="tags"></q-loading>
    </div>
</div>